<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Secret</key>
	<string>vmNwfFiOavXSjzD2hlNdb6XYQX9yLIBkTZoZZEtl</string>
	<key>Key</key>
	<string>kevnB1HFBZi3EgODBeihdvWmSU7bxsyaTcoLbdTW</string>
</dict>
</plist>
